{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            <img class="mb-4" src="{% static '/images/person-lines-fill.svg' %}" alt="" width="72" height="57">
            <h4>Sign In</h4>
            {% csrf_token %}
            <label>{{ form.username.label }}</label>
            {{form.username}}
            <label>{{ form.password.label }}</label>
            {{form.password}}
            <button>login</button>
            <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
        </form>
    </div>
</div>

{% endblock content %}